@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Open+Sans&display=swap');
main {
    display: flex;
    background: #d9dbdf;
    font-family:'Montserrat', sans-serif;
    min-height: 72vh;
    /* height: -ms-flex-wrap; */
}
.margin-top-15 {
    /* margin-top: 15px !important; */
    border-radius: 5px;
}
/* .cart-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;
} */

.container{
    margin-top:  1vw;
}

.container-goods{
    display: flex;
    justify-content: center;
    
}

.row {
    display: flex;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
}

.good-card-img{
    height: 100px;
    object-fit: cover;
}

/* Profile info */
.profile-info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    background: #FFF;
}
.profile-info > div:nth-child(2n){
    margin-top: 15px
}
.card-img-top{
    border-radius: 20px;
}


/* Order cards */
.profile-order-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 22px;
}
.profile-order-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    
}
.card-info{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}
.order-status{
    display: flex;
    background: #82E0AA; 
    border-radius: 10px;
    padding: 6px 13px;
}
.line{
    color: #36454F;
    background-color: #36454F;
    height: 2px;
    width: 100%;
}
.product-card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.product-card-title{
    margin-left: 15px;
    width: 320px;
}

.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.profile-list{
    margin-left: 50px;
}